* {
  box-sizing: border-box;
}

.body {

  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: #444;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;


}

.site-header {
  background-color: #f6f6f6;
}

.site-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
}

.site-header a {
  width: 264px;
  height: 28px;
  text-decoration: none;
}

.logo {
  width: 276px;
  height: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7296EE;
  border-radius: 7px;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 9px;
  padding-bottom: 8px;
  margin-right: 41px;
}


.search-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 45px;
  border-radius: 64px;
  background-color: #fff;
  padding-left: 15px;
}

.search {
  width: 42px;
  margin-right: 192px;
  height: 17px;
  color: #8D8D8D;

}

.search-logo {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.change-language {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70px;
  height: 36px;
  background: #DCE6FF;
  border-radius: 39px;
  padding-left: 3px;
  padding-right: 13px;
  margin-right: 25px;
  margin-left: 25px;


}

.change-uz {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 7px;
  margin-right: 8px;
  color: #444;
  background: #FFFFFF;
}

.change-ru {
  width: 16px;
  height: 15px;
  color: #A6A6A6;
}

.btn {
  background-color: #7296ec;
  width: 89px;
  height: 45px;
  color: #fff;
  border-radius: 10px;
  padding: 13px 20px;
}
.button-href{
  text-decoration: none;
}

.sitenav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  list-style: none;

}

.sitenav-links:not(:last-child) {
  margin-right: 34px;
}

.sitenav-item {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  color: #7f7f7f;
}

.site-hero {
  background-color: red;
}

.cost-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 247px;
  list-style: none;
}

.cost-item:not(:last-child) {
  margin-right: 25px;
}

.cost-value {
  margin: 0;
  color: #2959CE;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.cost-type {
  margin: 0;
  color: #555555;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

hr {
  margin: 0;
  padding: 0;
}

.baner-photo {
  width: 1200px;
  height: 128px;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.site-main-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

}

.site-main-item {
  display: inline-block;
  width: 393px;
  height: 382px;
  background-color: #F6F6F6;;
  border-radius: 15px;
  list-style: none;
  margin-bottom: 10px;

}

.site-main-item:nth-child(2) {
  margin-right: 10px;
  margin-left: 10px;
}

.site-main-item:nth-child(5) {
  margin-right: 10px;
  margin-left: 10px;
}
.site-main-item-list{
  list-style: none;
  padding-right: 17px;
  padding-left: 17px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.site-main-item-list-img{
  width: 360px;
  height: 165px;
  border-radius: 10px;
  margin-bottom: 15px;
}
h3{
  margin: 0;
}
p{
  margin-top: 10px;
  margin-bottom: 15px;
}
.little-image{
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;

}
.site-main-item-list-footer{
   display: flex;


}
.divider-baner{
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 60px;
}
.second-banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1050px;
  height: 100px;
  padding-bottom: 24px;
  padding-top: 24px;
  padding-left: 29px;
  padding-right: 71px;
  background-image: url("img/Group.jpg");
}
.btn{
  text-align: center;
  width: 149px;
  height: 50px;
  background-color: #F78B3B;
  border-radius: 10px;
  margin-right: 0;
}
.site-main-second-section{
  padding: 0;
}
.section-list-item{
width: 797px;
height: 205px;
border-radius: 15px;
list-style: none;
background: #f6f6f6;
margin-bottom: 10px;
padding-top: 20px;
padding-bottom: 20px;
margin-right: 10px;
}
.pokazat-yeshyo{
  display: inline-block;
  width: 796px;
  height: 53px;
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding-top: 1px;
  padding-bottom: 17px;
  margin-top: 7px;
}
.section-list{
  list-style: none;
  padding: 0;
  margin: 0;

}
.site-main-footer{
  display: flex;
  flex-direction: row ;
}
.section-list-item-2{
  width: 393px;
  height: 502px;
  list-style: none;
  border-radius: 15px;
  background-color: #f6f6f6;
  margin-bottom: 10px;
}
.discount{
  width: 393px;
  height: 338px;
  border-radius: 15px;
}
.section-list-item{
  padding-left: 17px;
  display: flex;
}
.section-list-content{
  list-style: none;

}
.section-icons{
  display: flex;
  list-style: none;
}
.section-image{
  width: 210px;
  height: 165px;
  border-radius: 10px;
}
.section-little-img{
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}
.site-footer{
  height: 356px;
  background-color: #7977ef;
  margin-top: 100px;
}